.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 0;
}

.button {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 8px;
  background-color: #4e75ff;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: linear 150ms;
}

.button:hover {
  border-radius: 8px;
  border: 0;
  background-color: #6c8cff;
}

.button[type='button'] {
  margin: 36px auto;
}
